
body {
    background-color: #74A4BC;
    font-family: "Lucida Console", Monaco, monospot;
    text-align: center;
}

.in {
    color: #F1FEC6;
    font-size: 25px;
}

/*
#mainTitle {
    color: #FF3A20;
    font-family: 'Kumar One Outline', cursive;
}
*/

input {
    background-color: #29339B;
    color: #F1FEC6;
    font-size: 15px;
}

#dateInput {
    font-size: 15px;
    padding-left: 40%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
