
body {
    background-color: #74A4BC;
    font-family: "Lucida Console", Monaco, monospot;
    text-align: center;
}

.in {
    color: #F1FEC6;
    font-size: 25px;
}

#mainTitle {
    color: #FF3A20;
}

input {
    background-color: #29339B;
    color: #F1FEC6;
    font-size: 15px;
}

#dateInput {
    font-size: 15px;
    padding-left: 40%;
}

.navbar-item {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 1px;
    display:inline-block;
    font-size: 15px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    background-color: #7A918D;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
